.city-Container
{
  background-color: #aca0a0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.Card-Container
{
display: flex;
gap:5%;
flex-wrap: wrap;
}
.card{
  width: 25%;
}
.light
{
  background-color: rgb(216, 216, 46);
}
.dark
{
  background-color: blue;
}